@media (min-width: 0px) and (max-width: 1125px){
  .wrapper{
    .navbar{
      justify-content: center;
      .navbar_logo{
        margin-left: 0px;
      }
    }
  }
}

@media (min-width: 1565px) and (max-width: 3840px){
  .wrapper{
    .navbar{
      justify-content: center;
      .navbar_logo{
        margin-left: 0px;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 464px){
  .wrapper{
    .main{
      .section_calculator{
        gap: 30px;
        .opening,.deposit,.amount,.percent{
          & input{
            width: 300px;
          }
        }
      }
      .section_footer{
        padding-top: 40px;
        padding-left: 0px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 465px) and (max-width: 1025px){
  .wrapper{
    .main{
      .section_footer{
        padding-top: 40px;
        padding-left: 0px;
        text-align: center;
      }
    }
  }
}